body {
  background: #111;
  color: #00FF00;
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.login-box {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input, button {
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #00FF00;
  border-radius: 5px;
  background: #1c1c1c;
  color: #00FF00;
  font-weight: bold;
}

button:hover {
  background: #00FF00;
  color: #111;
  cursor: pointer;
}

audio {
  width: 300px;
  margin: 10px;
}




























